<% layout('layouts/boilerplate') -%>

    <link rel="stylesheet" href="/css/style.css">

    <div class="container-fluid">
        <div class="row vh-100">
            <div class="col-md-3 p-0 d-none d-md-block">
                <div class="chat-header shadow border-bottom border-dark">
                    <h5 class="p-3">Members</h5>
                </div>
            </div>
            <div class="col-md-9 chat-text p-0">
                <div class="chat-header shadow border-bottom border-dark">
                    <h5 class="p-3">
                        <%= room %>
                    </h5>
                </div>
                <div class="chat-wrapper px-3">
                    <% if (community.messages.length) { %>
                        <div class="my-3 profile">
                            <div class="d-flex align-items-center">
                                <div class="profile-picture">
                                    <img src="https://preview.redd.it/dp9hxyn79cz61.png?auto=webp&s=1b953b04d300e94b6efa254f0bf4eefa297242a3"
                                        class="img-fluid" width="35" alt="">
                                </div>
                                <div class="chat-content">
                                    <div class="chat-info d-flex ms-3">
                                        <h6 class="fs-6 me-2">
                                            <%= community.messages[0].author %>
                                        </h6>
                                        <small class="text-white-50">
                                            <%= community.messages[0].time %>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message ms-5">
                                <p>
                                    <%= community.messages[0].message %>
                                </p>
                            </div>
                        </div>
                        <% } %>
                            <% for (let [i, chat] of community.messages.entries()) { %>
                                <% if (i>=1) { %>
                                    <% if (chat.author===community.messages[i -1].author) { %>
                                        <p class="ms-5">
                                            <%= chat.message %>
                                        </p>
                                        <% } else { %>
                                            <div class="my-3 profile">
                                                <div class="d-flex align-items-center">
                                                    <div class="profile-picture">
                                                        <img src="https://preview.redd.it/dp9hxyn79cz61.png?auto=webp&s=1b953b04d300e94b6efa254f0bf4eefa297242a3"
                                                            class="img-fluid" width="35" alt="">
                                                    </div>
                                                    <div class="chat-content">
                                                        <div class="chat-info d-flex ms-3">
                                                            <h6 class="fs-6 me-2">
                                                                <%= chat.author %>
                                                            </h6>
                                                            <small class="text-white-50">
                                                                <%= chat.time %>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-message ms-5">
                                                    <p>
                                                        <%= chat.message %>
                                                    </p>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                                                    <% } %>
                </div>
                <form action="" class="d-flex mt-3 messageForm">
                    <input type="text" class="form-control mx-3 shadow messageInput" name="<%= room %>"
                        user="<%= currentUser.username %>" placeholder="Message Ths1" autofocus>
                </form>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>